
		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">#EuNãoMereçoSerEstuprada</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="">Página Inicial</a></li>
						<li ng-hide="index.isLoggedIn"> <a href="">Entrar</a> </li>
						<li ng-hide="index.isLoggedIn"><a href="" ng-click="index.openRegisterModal()">Cadastre-se</a></li>
						<li><a href="">Buscar</a></li>
						<li ng-show="index.isLoggedIn"><a href="" ng-click="index.logout()" >Sair</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Seja você a vítima ou não, denuncie!</h2>
				<p>Denuncie qualquer tipo de violência contra a mulher.</p>
				<ul class="actions">
					<li>
						<a href="#" class="button big">Saiba mais</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 align-center">
				<div class="container">
					<header>
						<h2>Realize ou veja denúncias de violência contra a mulher através do Google Maps</h2>
						<p>Siga as instruções abaixo</p>
					</header>
					<div class="row 200%">

					<section class="4u 12u$(small)">
							<i class="icon big rounded fa-user"></i>
							<p>Para realizar denúnicas, você precisa de uma conta. Clique aqui para criar. Mesmo cadastrada, você pode realizar denúnicas anônimas.</p>
						</section>

						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-globe"></i>
							<p>Você pode realizar sua denúncia clicando no local da ocorrência no mapa abaixo. Clique aqui para ver o mapa.</p>
						</section>

						<section class="4u$ 12u$(small)">
							<i class="icon big rounded fa-search"></i>
							<p>Clique aqui para pesquisar por denúncias através de tags, data da ocorrência e tipo da violência contra a mulher.</p>
						</section>

						
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="">
				<!--div class="container"-->
					<div id="map">
					</div>
				<!--/div-->
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					
					<ul class="copyright">
						<li>&copy; #EuNãoMereçoSerEstuprada. Todos os direitos reservados.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Imagens: <a href="http://google.com">Google</a></li>
					</ul>
				</div>
			</footer>
