
		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">#EuNãoMereçoSerEstuprada</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="#">Página Inicial {{hello}}</a></li>
						<li><a href="#">Entrar</a></li>
						<li><a href="#">Cadastrar</a></li>
						<li><a href="#">Buscar</a></li>
						<li><a href="#">Sair</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Seja você a vítima ou não, denuncie!</h2>
				<p>Denuncie qualquer tipo de violência contra a mulher.</p>
				<ul class="actions">
					<li>
						<a href="#" class="button big">Saiba mais</a>
					</li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 align-center">
				<div class="container">
					<header>
						<h2>Realize ou veja denúncias de violência contra a mulher através do Google Maps</h2>
						<p>Siga as instruções abaixo</p>
					</header>
					<div class="row 200%">

					<section class="4u 12u$(small)">
							<i class="icon big rounded fa-user"></i>
							<p>Para realizar denúnicas, você precisa de uma conta. Clique aqui para criar. Mesmo cadastrada, você pode realizar denúnicas anônimas.</p>
						</section>

						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-globe"></i>
							<p>Você pode realizar sua denúncia clicando no local da ocorrência no mapa abaixo. Clique aqui para ver o mapa.</p>
						</section>

						<section class="4u$ 12u$(small)">
							<i class="icon big rounded fa-search"></i>
							<p>Clique aqui para pesquisar por denúncias através de tags, data da ocorrência e tipo da violência contra a mulher.</p>
						</section>

						
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="">
				<!--div class="container"-->
					<div id="map">
					</div>
				<!--/div-->
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					
					<ul class="copyright">
						<li>&copy; #EuNãoMereçoSerEstuprada. Todos os direitos reservados.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Imagens: <a href="http://google.com">Google</a></li>
					</ul>
				</div>
			</footer>


<!-- Modal -->
<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                   	Denunciar agressão
                </h4>
            </div>
            
           
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form class="form-horizontal" role="form">
                  
                  <div class="form-group">
                  	<label class="col-sm-2 control-label" for="selectorType">Classificação do Crime</label>
                  	<div class="col-sm-10">
                  		<select id="selectorType" class="form-control">
						  <option>Assédio</option>
						  <option>Violência</option>
						  <option>Estupro</option>
						</select>

                  	</div>
                  </div>


                  <div class="form-group">
                  	<label class="col-sm-2 control-label" for="selectorVictim">Vítima</label>
                  	<div class="col-sm-10">
                  		<select id="selectorVictim" class="form-control">
          						  <option>Sou a vítima</option>
          						  <option>Presenciei o crime</option>
          						</select>

                  	</div>
                  </div>


                  <h3>Tags</h3>	
                  <tags-input ng-model="tags">
        			
    			  </tags-input>

                  <div class="checkbox">
                  	<label>
                  		<input type="checkbox" value="true">
                  		Denúncia Anônima
                  	</label>
                  </div>

                </form>
                
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" id="cancelarBtn" class="btn btn-default"
                        data-dismiss="modal">
                            Cancelar
                </button>
                <button type="button" id="denunciaBtn" class="btn btn-primary">
                    Denunciar
                </button>
            </div>
        </div>
    </div>
</div>
<!--End Modal-->