
<!-- ANGULAR MODAL  -->
<div class="modal-header">
    <h3 class="modal-title">Realizar Denúncia</h3>
</div>
<div class="modal-body">
            
             <form name="reportForm" class="form-horizontal" role="form" novalidate>
                  

                  <div class="form-group">
                    <label for="endereco" class="col-sm-3 control-label">Endereço</label>
                    <div class="col-sm-9">
                        <input ng-disabled="regForm.$invalid" ng-model="vm.denuncia.address" name="address" type="text" id="endereco" placeholder="" class="form-control">
                    </div>
                </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="selectorType">Classificação do Crime</label>
                    <div class="col-sm-10">
                        <select ng-model="vm.denuncia.crime" name="crime" id="selectorType" class="form-control">
                          <option value="Assédio" >Assédio</option>
                          <option value="Violência" >Violência</option>
                          <option value="Estupro" >Estupro</option>
                        </select>

                    </div>
                  </div>


                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="selectorVictim">Vítima</label>
                    <div class="col-sm-10">
                        <select ng-model="vm.denuncia.victim" name="victim" id="selectorVictim" class="form-control">
                                  <option  value="true" >Sou a vítima</option>
                                  <option value="false" >Presenciei o crime</option>
                                </select>

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="birthDate" class="col-sm-3 control-label">Data</label>
                    <div class="col-sm-9">
                        <input type="date" ng-model="vm.denuncia.date" id="birthDate" class="form-control">
                    </div>
                </div>
                  
                  <h3>Tags</h3> 
                  <tags-input ng-model="vm.tags"></tags-input>

                  <div class="checkbox">
                    <label>
                        <input type="checkbox" value="true" ng-checked="vm.denuncia.anonymous == true"  ng-model="vm.denuncia.anonymous">
                        Denúncia Anônima
                    </label>
                  </div>

                </form>


               <p>{{vm.errorMessage}}</p>

           

</div>

<div class="modal-footer">
    <button ng-hide="vm.success" ng-show="vm.error" class="btn btn-primary" type="button" ng-click="vm.ok()">Denunciar</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Fechar</button>
</div>