
<!-- ANGULAR USER LOGIN MODAL  -->
<div class="modal-header">
    <h3 class="modal-title">Pesquisar</h3>
</div>
<div class="modal-body">

     <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="address" class="col-sm-3 control-label">Endereço</label>
            <div class="col-sm-9">
                <input 
                    ng-model="vm.address" 
                    ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 2000, 'blur': 1 } }" 
                    type="text" 
                    id="address" 
                    class="form-control">
            </div>
        </div>
    </form>
    
</div>

<div class="modal-footer">
    
    

</div>