<!DOCTYPE html>
<!--
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" ng-app="mapaAssedioApp">
	<head>
		<meta charset="UTF-8">
		<title>#EuNãoMereçoSerEstuprada</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		

		<!--JQUERY-->
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>

		<!-- TEMPLATED -->
		<link rel="stylesheet" href="/css/skel.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/style-xlarge.css" />
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
		

		<!-- HARASSMENT MAP -->
		 <script src="/maps/marker.js"></script>
		 <script src="/maps/maps_facade.js"></script>
		 <script src="/maps/customControls.js"></script>
		 <!--script src="/maps/initMap.js"></script-->

		 <!-- GOOGLE MAPS -->
		 <script src="https://maps.googleapis.com/maps/api/js?v=3.24&key=AIzaSyDWD7AiYy5CKsYA0kJlPIVmy9aYEAKD240&libraries=places,visualization"></script>




		<!-- ANGULAR LIBS -->
		<!--AngularJS-->
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/angular-route/angular-route.js"></script>
		<!-- Angular Tags -->
		<link rel="stylesheet" type="text/css" href="/bower_components/ng-tags-input/ng-tags-input.css">
		<script src="/bower_components/ng-tags-input/ng-tags-input.js"></script>
		<!-- Angular Animate -->
		<script src="/bower_components/angular-animate/angular-animate.js"></script>
		<!-- Angular Touch -->
		<script src="/bower_components/angular-touch/angular-touch.js"></script>
		<!-- Angular Bootstrap -->
		<link rel="stylesheet" type="text/css" href="/angular_bootstrap/ui-bootstrap-1.3.3-csp.css">
		<script src="/angular_bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
		
		
		
		<!-- ANGULAR APP -->
		<script src="/angular_app/harassmentMap.min.js"></script>

		<!-- Angular App >
		<script src="/app.js"></script-->
		<!-- Angular Controllers -->
		<!--script src="../controllers/reportModalCtrl.js"></script>	
		<script src="../controllers/indexCtrl.js"></script-->	
		<!-- Angular Services -->
		<!--script src="../service/reports.js"></script>	
		<script src="../service/users.js"></script>	
		<script src="../service/authentication.js"></script-->

		

		
		
		<!--BOOTSTRAP-->
		 <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
		 <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



		 <!-- JQUERY-UI-->
		 <script src="/bower_components/jquery.ui/ui/jquery.ui.core.js"></script>
		 <link rel="stylesheet" type="text/css" href="/bower_components/jquery.ui/themes/base/jquery.ui.core.css">
		 <link rel="stylesheet" type="text/css" href="/bower_components/jquery.ui/themes/base/jquery.ui.autocomplete.css">
		 <link rel="stylesheet" type="text/css" href="/bower_components/jquery.ui/themes/base/jquery.ui.base.css">
		 <link rel="stylesheet" type="text/css" href="/bower_components/jquery.ui/themes/base/jquery.ui.theme.css">
		 <script src="/bower_components/jquery.ui/ui/jquery.ui.widget.js"></script>
		 <script src="/bower_components/jquery.ui/ui/jquery.ui.autocomplete.js"></script>


		 


		 


		 <!-- INDEX VIEW  -->
		 <link rel="stylesheet" type="text/css" href="/views/index.css">

		 <!-- window.onLoad -->
		 <!--script src="/maps/onload.js"></script-->



		

		 

	</head>


	<body class="landing">

	<div ng-view >
	<!-- PAGE CONTENT -->
	</div>

	</body>

</html>